{% extends 'main/layout.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
    <div class="about_features">
        <h1>Про нас</h1>
        <p>На странице "Главная" представлена основная цель сайта "Статейник", а также пользователь может добавить новую статью.
            <br>На странице "Про нас" представлено описание разделов сайта и функицональные возможности.
            <br>На странице "Статьи" представлены анонсы статей, а также возможность перейти к просмотру полной версии статьи.
            <br>При нажатии на кнопку "Читать полностью" открывается страница статьи, где представлено её наименование, дата публикации и полное содержание.
            <br>Также на данной странице находятся кнопки, служащие для перехода в форму для редактирования и страницу для удаления статьи.
        </p>
    </div>
{% endblock %}